<!-- 
<!DOCTYPE html>
<html>
<body>

<h1>The ol type attribute</h1>

<ol type="I">
  <li>(6 points)</li>
  <li> (5 points)</li>
  <li> (9 points)</li>
</ol>

</body>
</html> -->
<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button" [routerLink] ="['/sujet']">sujet</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" [routerLink] ="['/corrige']">corrige</button>
  </form>
</nav>
<!-- <app-sujet></app-sujet> -->
<router-outlet></router-outlet>